<div class="col-lg-6 col-12 d-flex justify-content-between align-items-center">
    <!-- Search Input -->
    <div class="form-group mb-0 flex-grow-1">
      <div class="input-group input-group-alternative input-group-merge">
        <div class="input-group-prepend">
          <span class="input-group-text" id="search-icon"><i class="fas fa-search"></i></span>
        </div>
        <input class="form-control" placeholder="Search" type="text" aria-label="Search" aria-describedby="search-icon">
      </div>
    </div>
    
    <!-- Add New Button -->
